.container {
	padding-top: 20px;
}

.heading input {
	background: none;
	width: 100%;
	border: 0;
	border-bottom: 1px solid transparent;
}
.heading input:focus {
	border-color: black;
	background-color: rgba(0,0,0,0.1);
}

.title {
	font-size: 200%;
}

.description {
}
