<div class="container" *ngIf="listDoc">
	<div class='heading'>
		<div>
			<app-fs-input
				class="title"
				placeholder="Title"
				[document]='listDoc'
				field="title"
			></app-fs-input>
		</div>

		<div>
			<app-fs-input
				class="description"
				placeholder="Description"
				[document]='listDoc'
				field="desc"
			></app-fs-input>
		</div>
	</div>

	<div>
		<ul class="items">
			<app-item-detail
				*ngFor="let itemM of itemsMeta | async; trackBy: trackByFn;"
				[itemMeta]="itemM"
			></app-item-detail>
			<li>
				Add item here
			</li>
		</ul>
	</div>
</div>
