<div class="container" *ngIf="list">
	<div class='heading'>
		<div>
			<input 
			class="title"
			placeholder="Title"
			[ngModel]='(list | async)?.title'
			(ngModelChange)="updateListTitle($event)"
			type="text">
		</div>

		<div>
			<input
			class="description"
			placeholder="Description"
			[ngModel]='(list | async)?.desc'
			(ngModelChange)="updateListDesc($event)"
			type="text">
		</div>
	</div>

	<div>
		<div class="items">
			<app-item-detail
			*ngFor="let itemM of itemsMeta | async"
			[itemMeta]="itemM"></app-item-detail>
		</div>
	</div>
</div>
