<div class="container" *ngIf="listDoc">
	<div class='heading'>
		<app-fs-input
			class="title"
			[document]='listDoc'
			field="title"
			[alwaysUnderline]="false"
			placeholder='Title...'
			floatPlaceholder='never'
		></app-fs-input>

		<app-fs-input
			class="description"
			[document]='listDoc'
			field="desc"
			[alwaysUnderline]="false"
			placeholder='Description...'
			floatPlaceholder='never'
		></app-fs-input>
		
		<button mat-icon-button
			class='menu'
			[matMenuTriggerFor]="menu"
		>
			<mat-icon>more_vert</mat-icon>
		</button>
	</div>

	<mat-menu #menu="matMenu">
		<button mat-menu-item
			(click)="deleteClicked.emit(_listMeta)"
		>
			Delete this list
		</button>
	</mat-menu>

	<div>
		<ul class="items">
			<li *ngFor="let itemM of itemsMeta | async; trackBy: trackByFn;">
				<app-item-detail
					class='item'
					[itemMeta]="itemM"
				></app-item-detail>
			</li>
			<li class='add' *ngIf="itemsMeta | async">
				<mat-form-field>
					<input matInput
						type="text"
						[(ngModel)]="newItemName"
						name="name"
						placeholder="Add an item..."
					>
				</mat-form-field>
				<button mat-mini-fab (click)="addItem()">+</button>
			</li>
		</ul>
	</div>
</div>
