<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to Sharelist!
	</h1>

	<input type="text" [(ngModel)]="title" name="title" placeholder="Title..">
	<textarea [(ngModel)]="desc" name="desc" placeholder="Description.."></textarea>
	<input type="submit" value="Add a List" (click)="addList()">

	<ul *ngFor="let list of listsMeta | async">
		<li (click)="selectedListMeta = list">
			<strong>{{ list.data.title}}</strong> 
			(<a href="#" (click)="deleteList(list); $event.stopPropagation();">delete</a>)
			<br> {{list.data.desc}}
		</li>
	</ul>



	<app-list [listMeta]="selectedListMeta"></app-list>
</div>
