<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to Sharelist!
	</h1>

	<div *ngIf="afAuth.authState | async; let user; else showLogin">
		<h1>Hello {{ user.displayName }}!</h1>
		<button (click)="logout()">Logout</button>

		<div class="lists">
			<div
				class="item"
				[ngClass]="{'selected': selectedListMeta?.id === list.id}"
				*ngFor="let list of listsMeta | async"
				(click)="selectedListMeta = list">
				<strong>{{ list.data.title}}</strong>
				(<a href="javascript:void(0)" (click)="deleteList(list); $event.stopPropagation();">del</a>)
			</div>
			<div *ngIf="listsMeta | async">
				<input type="text" [(ngModel)]="title" name="title" placeholder="Title...">
				<input type="submit" value="+" (click)="addList()">
			</div>
		</div>

		<app-list-detail [listMeta]="selectedListMeta"></app-list-detail>
	</div>
	<ng-template #showLogin>
		<p>Please login.</p>
		<button (click)="login()">Login with Google</button>
	</ng-template>
</div>