<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to Sharelist!
	</h1>



	<div *ngIf="afAuth.authState | async; let user; else showLogin">
		<h1>Hello {{ user.displayName }}!</h1>
		<button (click)="logout()">Logout</button>

		<input type="text" [(ngModel)]="title" name="title" placeholder="Title..">
		<textarea [(ngModel)]="desc" name="desc" placeholder="Description.."></textarea>
		<input type="submit" value="Add a List" (click)="addList()">

		<ul *ngFor="let list of listsMeta | async">
			<li (click)="selectedListMeta = list">
				<strong>{{ list.data.title}}</strong>
				(
				<a href="#" (click)="deleteList(list); $event.stopPropagation();">delete</a>)
				<br> {{list.data.desc}}
			</li>
		</ul>

		<app-list-detail [listMeta]="selectedListMeta"></app-list-detail>
	</div>
	<ng-template #showLogin>
		<p>Please login.</p>
		<button (click)="login()">Login with Google</button>
	</ng-template>
</div>