.lists > * {
    display: inline-block;
    margin: 5px;
}
.lists .item {
    cursor: pointer;
}
.lists .add {
    padding: 5px 15px;
}
.lists a {
    color: #ffcc00;
}

.lists .selected {
    background-color: #5b749988;
}

.login-status {
    margin-bottom: 20px;
}
.login-status button {
    border-radius: 5px;
}
