/*input {
	background: none;
	border: 0;
	border-bottom: 1px solid transparent;
}

input:focus[type='text'] {
	border-color: black;
}

input:focus[type='text'], input[type='submit']:hover {
	background-color: rgba(0,0,0,0.1);
}*/
